body {
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: auto;
}

#weatherInfo {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
